*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: aliceblue;
}

/* ----------------------header------------------------------ */

.header{
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/header-image.png);
    width: 100%;
    height: 100vh;
    background-size:cover;
    background-position: center;
    position: relative;

}
nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}
.logo{
    width: 150px;
    cursor: pointer;
}

nav button{
    font-size:20px;
    padding: 10px;
    border: none;
    outline: none;
    color: #fff;
    background-color: black;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
}
nav button i{
    margin-right:5px;

}

nav button img{
    width:15px;
    margin-left: 5px;
}

nav button.lang{
    background:transparent;
    border: 1px solid white;
    align-items: center;
}

nav button.signin{
    background-color:red;
    border: none;
    outline: none;
}

nav button.signin:hover{
    background-color: hsl(0, 86%, 54%);
    transition: 0.5s;
}
.header .header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 100px;
    
}
.header-content h1{
    font-size: 60px;
    line-height:70px;
    font-weight: 600;
    max-width: 750px;
}
.header-content h3{
    font-size: 30px;
    font-weight: 400;
}
.header-content p{
    font-size: 20px;
}
.email-signup{
    background-color: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
   
    
    
}

.email-signup input{
    flex: 1;
    border: none;
    outline: none;
    padding: 5px 10px;
    font-size:20px;
    height: 50px;
}

.email-signup button{
    padding: 5px 10px;
    font-size:20px;
    width: 150px;
    height: 50px;
    background-color:red;
    outline: none;
    border: none;
    color: white;
    
}


/*------------------- features---------------------- */
.features{
    padding: 50px 12%;
    font-size: 22px;
}

.features .row{
     display: flex;
     width: 100%;
     align-items: center;
     flex-wrap: wrap;
     padding: 50px 20px;
    
}
.text-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img-col img{
    display: block;
    width:90%;
    margin: auto;
}

.features h2{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
}


/* -------------------------------faq------------------------- */
.faq{
    padding: 10px 12%;
    text-align: center;
    font-size: 20px;
}

.faq h2{
    font-size: 40px;
    font-weight: 500;
}
.accor{
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}
.accor li {
    list-style: none;
    width: 100%;
    padding: 5px;
}
.accor li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size:20px;
    font-weight: 600;
    background-color: #303030;
    margin-bottom:4px;
    cursor: pointer;
    position: relative;
}

.accor li label::after{
    content: '+';
    position: absolute;
    right: 20px;
    font-size: 30px;
}
 

input[type='radio']{
    display: none;
}

.accor .content{
    background: #303030;
    text-align:left;
    padding: 0px 20px;
    max-height: 0;
    overflow: hidden;
    transition:max-height 0.5s ,padding 0.5s;
    
}
input[type="radio"]:checked+label+.content{
    max-height: 600px;
    padding: 30px 20px;

}

input[type="radio"]:checked+label::after{
    transform: rotate(135deg);
    
}
.faq .email-signup{
    max-width: 600px;
    margin: 20px auto 60px;
}
.faq small{
    font-size:16px;
}


/*----------------------- footer ---------------------*/

.footer{
    padding:50px 15% 10px;
    border-top: 6px solid #333;
    color: #777;
}
.footer h2{
    color: white;
    font-weight: 400;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;

}
.footer h2 i{
    font-size: 20px;
}
.footer .row{
    display: flex;
    justify-content: center;
    align-items: center;

}
.footer .col{
   flex-basis:25%;
   flex-grow: 1;
   margin-bottom: 20px;
}
.footer .col a{
    display: block;
    text-decoration: none;
    color: #777;
    font-size: 18px;
}

.myarea {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    margin:30px auto 20px;
}
.myarea h3,h1{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.myarea h3{
    font-size: 30px;
}

.myarea h1{
    margin-top: 10px;
    font-size: 35px;
    animation: text 3s linear infinite;
    
}

@keyframes text {
    from{
        color: gray;
    }
    to{
        text-shadow:
         0px 0px 5px orangered,
         0px 0px 25px orangered,
         0px 0px 50px orangered,
         0px 0px 200px orangered;
    }
}

@media only screen and (max-width:600px)
{
    .logo{
    width: 100px;
}
  nav button{
    padding: 5px 10px;
  }
  nav .lang{
    padding: 4px 8px;
  }

  .header-content {
    position: unset;
    transform: none;
    padding-top: 130px;
  }
  .header-content h1{
    font-size: 30px;

  }
  .email-signup button{
    font-size:14px;
    padding: 10px 15px;
    width: 100%;
  }
  .text-col,.img-col{
    flex-basis: 100%;
  }
  .features p{
    font-size: 16px;
  }
  .features .row:nth-of-type(Even){
    flex-direction: column-reverse;
  }
  .features .row{
    padding: 10px 0;
  }
  .faq h2{
     font-size:26px;
  }
  .accor .content{
    font-size: 16px;
  }
  .accor li label{
    padding: 10px;
    font-size: 12px;
  }
  .footer h2{
    font-size: 20px;
  }
  .footer .myarea h3{
    font-size: 18px;
    color: orangered;
  }
  
  .footer .myarea h1{
    font-size: 28px;
    
  }

} 